@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --background-color: #f0f0f0;
    --box-background-color: #fff;
    --text-color: #333;
    --accent-color: #4CAF50;
    --border-color: #e0e0e0;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --font-size-large: 24px; /* Increased for larger text throughout */
    --title-font-size: 36px; /* New variable for title size */
    --font-size-small: 14px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1, h2, h4, p {
    margin: var(--spacing-small) 0;
}

h1 {
    font-size: var(--title-font-size); /* Using the new variable for title size */
    text-align: center;
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
}

.title span.underline {
    color: var(--accent-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--spacing-medium);
    padding: var(--spacing-large);
    margin: auto;
    max-width: 960px;
}

.box {
    background-color: var(--box-background-color);
    border: 1px solid var(--border-color);
    padding: var(--spacing-medium);
    border-radius: var(--spacing-small);
    box-shadow: 0 4px 8px var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: var(--spacing-small);
    border-radius: var(--spacing-small);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: var(--spacing-small);
    margin-bottom: var(--spacing-large);
}

button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--spacing-small);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darken(var(--accent-color), 10%);
}

.filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-large);
}

.filter-container label, .filter-container select {
    margin: 0 var(--spacing-small);
}

.material-icons {
    vertical-align: middle;
    margin-right: var(--spacing-small);
}

.ranking {
    font-size: var(--font-size-large);
    font-weight: bold;
    color: var(--accent-color);
    margin-bottom: var(--spacing-small);
}

@media(min-width: 681px) {
}